//color
$color-blue-light: #092fc1;
$color-blue-dark:#0c1d60;

//frontsize
$fs1:18px;
$fs2:40px;
//bread point
$breadpoint:(
    'sceen-1': 1350px,
    'extra-large': 1200px,
    'large': 1000px,
    'medium': 768px,
    'small': 576px,
);